/*FOR COMPUTERS*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* HEADER*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    width: 100%;
    background-image: url('../img/bg-header-simplon.png');
    
}
.title{
    color: rgb(173, 17, 0);
    margin-top: 50px; 
}
.img-simplon{
    width: 200px; 
    height: 200px;
}
.img-ern{
    width: 200px;
    height: 200px; 

}

/* SHEARCH*/
.search-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    font-size: 20px;
    border-radius: 10px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255), rgba(190, 190, 190));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255), rgba(190, 190, 190)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
}

input::placeholder{
    color: rgb(100, 100, 100);
}
.search-div{
    width: 100%;
    height: 90px;
    background: rgb(243, 243, 243);
}
#search-btn{
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8E0E00, rgb(238, 24, 0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8E0E00, rgb(238, 24, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
}

#search-btn:hover{
background: rgb(150, 0, 0);
}

.search{
    padding: 5px 10px;
}

/*TROMBINOSCOPE*/
.trombi{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formateur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    gap: 30px;
}

.student{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    text-align: center;
    gap: 30px;
}
h2{
    margin-top: 50px;
}
.card{
    width: 100px;
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
}

.round{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: #000;
}

.round:hover{
    transform: scale(1.2);
}
